# Github Workflows that run the main.py every hour.
# Then commit the changes of ./data folders push back to remote
# Ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#onschedule

name: shopee-track

on:
  push:
    branches:
      - master
  schedule:
    #        You can use https://crontab.guru to help generate
    #        your cron syntax and confirm what time it will run
    #
    #        ┌───────────── minute 0, 30
    #        │    ┌───────────── hour (0 - 23)
    #        │    │ ┌───────────── day of the month (1 - 31)
    #        │    │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │    │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │    │ │ │ │
    #        0,30 * * * *
    - cron: "0,30 * * * *"

jobs:
  shopee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Fetch Shopee data
        run: |
          export PYTHONPATH=.:$PYTHONPATH
          python ./main.py

      - name: Commit and push changes
        run: |
          now=$(date)
          git config --global user.name "Robot"
          git config --global user.email 'duyetbot@users.noreply.github.com'
          git add ./data
          git diff --staged --quiet || git commit -m "[ci skip] update ${now}"
          git push || echo 'Nothing to push'
